## Basic dependencies (基础依赖库)
nonebot>=1.8.0
aiohttp
requests
lxml
loguru
aiocqhttp

## 'qzone' plugin dependencies (Qzone插件所需依赖库)
# opencv-python[qzone]
# selenium[qzone]
# pillow[qzone]
# numpy[qzone]